.brackets-page{
    background: #111111;
    flex: 1;
    margin: 0;
    min-height: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.bracket-container {
    flex: 1;
    min-height: 33.33%;
    display: flex;
    overflow: hidden;
}

.bracket-container.grandfinals {
    min-height: 33.33%;
    background: #0a0a0a;
}