name: deploy

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Deploy to VPS
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.VPS_HOST }}
        username: ${{ secrets.VPS_USER }}
        key: ${{ secrets.VPS_SSH_KEY }}
        script: |
          cd /home/deploy/apps
          git pull origin main
          
          # backend
          cd backend
          source venv/bin/activate
          pip install -r requirements.txt
          sudo systemctl restart your-backend-service
          
          # frontend
            #   cd ../frontend
            #   npm install
            #   npm run build
            #   sudo systemctl restart nginx